body{
  background-color: rgb(20, 16, 27);
}

.grid {
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: rgb(125, 255, 120);
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: rgb(190, 226, 107);
}

.apple {
  background-color: rgb(197, 63, 81);
}
